@{
}

@model Mission8_Team0313.Models.Action

<h2>Confirm Deletion</h2>
<h3>@Model.Task</h3>
<form method="Post">

	<input type="hidden" asp-for="TaskID" />

	<button type="submit">Delete</button>
	<a class="btn btn-info" asp-controller="Home" asp-action="Waitlist">Cancel</a>
</form>
